*{
    background-image: url(https://cdn5.f-cdn.com/contestentries/212081/10921447/5549c4471c049_thumb900.jpg);
}
nav{
    background-color: blue;
    display: flex;
    justify-content: center;
    width: 100%;
    top:0;
    left:0;
    padding-top: 10px;
    position:fixed;
    
} 
nav>ul>li{
    display: inline; 
    margin: 20px;
    text-decoration: none; 
}
li>a{
    color: white;
}
a{
    text-decoration:none;
}
   

 #first{
   text-align: center;  
   font-size: 50px;
   padding-top: 50%;
   padding-bottom: 50%;
}

 img{
    float: left;
 }
 .about{
   text-align: center;
   font-size: 25px;
   
}
 .hobbies>ol>li{
   text-align: center;
   list-style-type: none;
 }
 .skills>ul>li{
   text-align: center;
   list-style-type: none;
   font-size: 25px;
 }
 .personal>ul>li{
   text-align: center;
   list-style-type: none;
   font-size: 25px;
 }
 .education{
   text-align: center;
   font-size: 25px;
 }
 .experience{
   text-align: center;
   font-size: 25px;
 }
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 